* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  background-color: rgb(237, 235, 235);
}
.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-radius: 10px;
}

.card-header {
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  padding-right: 2.8rem;
  border-bottom: solid 0.7px rgb(239, 237, 237);
}

.card-body {
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2.8rem;
  color: rgb(161, 159, 159);
  font-weight: 100;
  border-bottom: solid 0.7px rgb(239, 237, 237);
}

.card-footer {
  padding-left: 1.8rem;
  padding-top: 1.2rem;
}

.card-footer > span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 20px;
  background-color: rgb(237, 235, 235);
  font-weight: 400;
  color: rgb(105, 103, 103);
}
