* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header > a {
  text-decoration: none;
  cursor: none;
}

header > a > h1 {
  color: rgb(67, 66, 66);
  padding-left: 1.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px lightgray;
  background-color: rgb(243, 243, 241);
}

main {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}

.web {
  padding-bottom: 0.8rem;
  border-bottom: solid 2px lightgray;
}

.web + p {
  margin-top: 1.7rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.front-end {
  padding-bottom: 0.8rem;
  border-bottom: solid 1px lightgray;
}

.front-end + p {
  margin-top: 1.7rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.back-end {
  padding-bottom: 0.8rem;
  border-bottom: solid 1px lightgray;
}

.back-end + p {
  margin-top: 1.7rem;
  line-height: 1.8;
}

footer {
  width: 100%;
  border-top: solid 1px lightgray;
  background-color: rgb(243, 243, 241);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0px;
  font-weight: 200;
}
